
RSpec.describe RelatedHashtagsController do 
  describe "get_hashtag_feed" do
    it "should return @related_hashtags" do
      related_hashtags = hashtag_feed.posts
      get :hashtag_feed
      expect(assigns:related_hashtags)).to eq[hasher]
        end
    
  describe hasher do
    it "should have_at_least(1).items"
      end
  
  ## next test -->(make sure hasher doesn't contain the originally queried hashtag)
  @hasher.delete_if {|key, value| key == @hashtag_feed.name }
  

##--color
##--require spec_helper

