
##--color
##--require spec_helper

RSpec.describe SearchesController do


end




RSpec.describe RelatedHashtagsController do 
  describe get_hashtag_feed do
    it "should return @related_hashtags" do
      related_hashtags = hashtag_feed.posts
      get :hashtag_feed
      expect(assigns:related_hashtags)).to eq[hasher]
  end
    
  describe hasher do
    it { should have_at_least(1).items }
    it { should_not include(nil) }
    it { should_not include(@hashtag_feed.name) }
  end
  
 describe hashtag_feed do
    context "with id parameters" do
    { get :hashtag_feed_id => @hashtag_feed }
    it "returns of hash of hashtag_feed with id params"
    expect (json['hashtag_feed'].to have_key('hashtag_feed_id'))
  end
  
end
  
  
  
  
  
  

