<div ng-app="relatedManager">
  <div ng-controller="searchCtrl as s">
    <div ng-controller="hashSizeCtrl as hs">
        <div ng-controller="hashtagFeedCtrl as hf">
            
<header>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name">Track Any Hashtag</span>
          <div class="searchbar">
            <center>

            <form ng-submit="s.addSearch(s.search)">
                <input type="text" name="search" ng-model="s.search" />
                <input type="submit" />
            </form>
            </center>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Services Section -->
  <section id="services">
    <div class="container">
      <div class="row">
<!--         <div class="col-lg-12 text-center">
          <h2 class="section-heading">What We Provide</h2>
          <h3 class="section-subheading text-muted">Hashtrak gives you the necessary information to discover & promote</h3>
        </div> -->
      </div>
      <div zum-waypoint="favcons" down="flags.down" up="flags.up" offset="70%">
      <div class="row text-center">
          <div class="col-md-4">
              <span class="iconz fa-stack fa-4x" ng-class="{fadeIn: favcons.flags.down, iconz: favcons.flags.up}">
                  <img src="http://cdn4.freepik.com/image/th/318-55018.jpg">
              </span>
              <h4 class="service-heading">Related Hashtags</h4>
              <p class="text-muted">
                  Ever wondered what the most related hashtag to #paleodiet is? Looking for another photography community to join? We're here to help you find relevant communities.
              </p>
          </div>
          <div class="col-md-4">
              <span class="iconz fa-stack fa-4x" ng-class="{fadeIn: favcons.flags.down, iconz: favcons.flags.up}">
                  <img src="http://cdn2.freepik.com/image/th/318-55114.png">
              </span>
              <h4 class="service-heading">Hashtag Size</h4>
              <p class="text-muted">
                  How do you know which hashtag is trending? Or uncool anymore? Hashtrak shows the velocity of hashtags and the growth of hashtags over time, so you'll know 
              </p>
          </div>
          <div class="col-md-4">
              <span class="iconz fa-stack fa-4x" ng-class="{fadeIn: favcons.flags.down, iconz: favcons.flags.up}">
                  <img src="http://www.sproutsanfrancisco.com/shop/media/catalog/product/cache/1/small_image/150x150/9df78eab33525d08d6e5fb8d27136e95/n/e/nesting_dolls.jpg">
              </span>
              <h4 class="service-heading">Category</h4>
              <p class="text-muted">
                  If you're searching a super niche hastag, we are able to find the category that it belongs to. That let's you broaden your search and find users with the same interest.
              </p>
          </div>
      </div>
      </div> <!-- zum-waypoints -->
    </div>
  </section>
<div ng-show="barready" class="ng-hide">
  <section class="success" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>Relevant Hashtags</h1>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg">
          <p>According our calculations, here are the most relevant hashtags to what you just searched. It works on the law of averages, so the more times people search that hashtag, the more accurate it will become!</p>
        </div>
        <div class="col-lg-4 text-left">
          <canvas barchart options="myChartOptions" data="myData" width="700" height="400"></canvas>
        </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div ng-show="lineready" class="ng-hide">

  <section class="success1" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>Hashtag Size Over Time</h1>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg text-right">
          <canvas linechart options="options" data="lineData" width="700" height="400"></canvas>
        </div>
        <div class="col-lg-4 col-lg-offset-4">
          <p>Hashtrak is able to accurately portray how fast a hashtag is growing in popularity. You can use this information to discover if a certain hashtag is "hot" or losing popularity.</p>
        </div>
      </div>
    </div>
  </section>


  <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Category</h1>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                    <p><center>ENTER CATEGORY HERE</center></p>

                <div class="col-lg-4">
                    <p></p>
                </div>
            </div>
        </div>
    </section>

      <section class="success1" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>DEFINITION</h1>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                    <p><center>ENTER DEFINITION HERE</center></p>

                <div class="col-lg-4">
                    <p></p>
                </div>
            </div>
        </div>
    </section>

</div> <!-- ng show line ready div -->
