<!doctype html>
<html lang="en-US">
<head>

	<!-- Meta tags & title /-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Hashtrek Instagram Discovery Tool</title>
	
	<link rel="stylesheet" type="text/css" href="css/style.css" />

</head>

<body>

	<section id="screen1">

		<div class="container">
			<div class="content">
				<div class="hptextarea">
				<h1 class="hptitle">Instagram Discovery Tool</h1>
				</div>			

				<div class="searchbar">
					<div class="row">
						<div class="col-lg-9">
							<div class="input-group custom-search-form">
								<input type="text" class="form-control" placeholder="type in hashtag">
								<span class="input-group-btn">
									<a class="btn btn-default btn-outline btn-lg">Submit</a>
								</span>
							</div><!-- /input-group -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<nav>
			<ul>
				<li><a href="#">HashTrek</a></li>
				<li><a href="#">General Info</a></li>
				<li><a href="#">Relevant Hashtags</a></li>
				<li><a href="#">Authoritative Figures</a></li>
				<li><a href="#">What To Watch For</a></li>
			</ul>
		</nav>

	</section>
	
	<section id="screen2">General Info</section>
	<section id="screen3">Relevant Hashtags</section>
