<div class="container">
<div class="bnw">
  <h1> Results for Hashtag Feed:<%=@hashtag_feed.name %> <br></h1>
   <%@hasher.each do |x| %>
     <%= x[0] %> <br> <%= x[1] %> <br>
   <% end %>
</div> 
</div>