/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import 'bootstrap';

.bnw {
  color:black
}

* {margin: 0; padding: 0;}

a {text-decoration: none;}

/* This class is added on scroll */
.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
}

body {
	color: #fff;
	font-family: 'open-sans-bold'; 
	font-size: 18px;
	text-align: center;
}

/* Font Face Settings */
@font-face {
    font-family: 'open-sans-bold';
	src: url('../fonts/open-sans/OpenSans-Bold.eot');
    src: url('../fonts/open-sans/OpenSans-Bold.eot?iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/OpenSans-Bold.ttf');
    font-weight: normal;
}	

/* Navigation Settings */
nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: #fff;
}

nav li {
	display: inline-block;
	padding: 24px 10px;
}

nav li a {
	color: #757575;
	text-transform: uppercase;
}

section {
	height: 100vh;
}

/* Screens Settings */
#screen1 {	
	background: #43b29d;
}

#screen1 p {
	padding-top: 200px;
}

#screen2 {
	background: #e67e22;
	border-bottom: 2px solid black;
}

#screen3 {
	background: #9b59b6;
	border-bottom: 2px solid black;
}

@media only screen and (max-width: 520px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 14px;
	}

}

.custom-search-form{
    margin-top:5px;
}
/*  -------------------------HOMEPAGE CONTAINER----------------------------- */
.content {
  margin: auto;
  padding-top: 18%;
  width: 100%;
  height: 100%;
}

.hptitle {
	font-size:72px;
	text-shadow: -2px 1px 5px rgba(146, 150, 150, 1);
}

/* -------------------------SUBMIT BUTTON----------------------------- */

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-default.btn-outline {
    color: #ffffff;
}

.btn-default.btn-outline:hover {
    color: #ffffff;
}

